{% extends "layout.html" %}
{% import "_macros.html" as datos_macro %}

{% block container %}
                
        <h1>Distancia</h1>

        <form action="" method="post">
            {{datos_macro.datos('numero1','Ingresa X1') }}
            {{datos_macro.datos('numero2','Ingresa Y1') }}
            {{datos_macro.datos('numero3','Ingresa X2') }}
            {{datos_macro.datos('numero4','Ingresa Y2') }}

            <button type="submit" class="btn btn-primary">Calcular</button>
       </form>

       <h1>La distancia entre los puntos {{num1}},{{num2}} y {{num3}},{{num4}} es: {{distancia}}</h1>

    {%endblock%}